body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --blue: #0c3273;
  --white: #FFFFFF;
}

.inventory-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin: 50px 50px;
  padding: 5px;
}

.extraSection2 {
  box-sizing: border-box;
  border-radius: 3px;
}

.fieldStyle {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  margin: 5px;
  width: 200px;
  font-size: 16px;
}

.footer {
  background-color: var(--blue);
  color: white;
  margin-top: 60px;
  padding: 50px;
}

@media only screen and (max-width:576px) {
  .inventory-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
    margin: 50px 50px;
    padding: 5px;
  }

  .manageInventoryBtn {
    width: 200px !important;
    padding: 10px;
  }

  .smDevice {
    display: flex;
    flex-direction: column;
    margin: 20px 30px !important;
  }

  .responsiveFooter {
    justify-content: center;
    text-align: center;
  }

  .others {
    display: flex;
    flex-direction: column;
  }

  .responsive {
    width: 350px !important;
  }

}